<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
<div class="container-fluid">
  <div class="container player-list col-md-3">
    <div class="DM-entry">
      DM:
      <div class="name-only-entry">
        DM Name
      </div>
    </div>

    <div class="player-entry-section">
      <div class="player-entry">
        <span style="font-weight: bold">Player Name:</span> Player 1
      </div>
      <div class="player-entry">
        <span style="font-weight: bold">Player Name:</span> Player 2
      </div>
      <div class="player-entry">
        and player 3
      </div>
    </div>

    <div class="spectator-section">
      Spectators:
      <div class="name-only-entry">
        Spectator 1
      </div>
    </div>
  </div>
  <div class="container map col-md-9" style="border: 1px black">
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  $('form').submit(function() {
    socket.emit('chat message', $('#m').val());
    $('#m').val('');
    return false;
  });

  socket.on('chat message', function(msg) { 
    $('#messages').append($('<li>').text(msg));
  });
</script>
</body>
</html>
