<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container player-list">
    <div class="DM-entry">
      DM:
      <div class="name-only-entry">
        DM Name
      </div>
    </div>

    <div class="player-entry-section">
      <div class="player-entry">
        <span style="font-weight: bold">Player Name:</span> Player 1
      </div>
      <div class="player-entry">
        <span style="font-weight: bold">Player Name:</span> Player 2
      </div>
      <div class="player-entry">
        and player 3
      </div>
    </div>

    <div class="spectator-section">
      Spectators:
      <div class="name-only-entry">
        Spectator 1
      </div>
    </div>
  </div>
  <div class="container map">
    <div class="map-grid" style="width: 80%; height: 95%; border: 1px black">
      squares go here
    </div>
  </div>

</body>
</html>
